@model List<Product>
@{
    ViewData["Title"] = "userCart";
}


<div class="background">
    <div class="cartInfo">
        <div class="container">
            <div class="header">
                <div class="numberOfItem">
                    <i class="bi bi-cart"></i>
                    <span>@Model.Count Item</span>
                </div>
                <i class="fa-solid fa-xmark closeBtn"></i>
            </div>
            <div class="body">
              @foreach(var item in Model){
                    <div class="item">
                        <div class="image">
                            <img src="~/images/@item.imageUrl" alt="">
                        </div>
                        <div class="info">
                            <h2>Heloo test</h2>
                            <div class="name">Name :@item.Name<span></span> </div>
                            <div class="brand">Brand :<span>Apple</span></div>
                            <div class="avalbility">Availability : <span> in stock</span> </div>
                            <div class="price">Price :@item.Price<span></span> </div>
                            <input type="number" placeholder="Count .." class="much-pro" value="">
                        </div>
                    </div>
              }
            </div>
            <buuton class="checkOut">
                <span>CHECKOUT .</span>
                <span class="price">$2000</span>
            </buuton>
        </div>
    </div>
</div>