
<section id="loading">
    <span class="loader"></span>
</section>
<!-- banner section -->
<div class="banner">
    <div class="container">
        <div class="content">
            <div class="right-icon ">
                <i class="fa-solid fa-arrow-right"></i>
            </div>
            <img src="~/images/main-banner-1-1600x700.jpg" alt="">

            <div class="bullet">
                <span class="active-bullet"></span>
                <span></span>
            </div>
            <div class="left-icon">
                <i class="fa-solid fa-arrow-left"></i>
            </div>
        </div>
    </div>
</div>
<!-- end banner section -->
<!--  start offers  -->
<div class="offers">
    <div class="container">
        <div class="boxes">
            <div class="box col-md-4 col-sm-6">
                <div class="text">
                    <h3>30% Discount</h3>
                    <p>Wooden Study Table</p>
                </div>
                <img src="~/images/cms-banner-2.jpg" alt="">
            </div>
            <div class="box col-md-4 col-sm-6">
                <div class="text">
                    <h3>20% Discount</h3>
                    <p>Designing interior</p>
                </div>
                <img src="~/images/cms-banner-1.jpg" alt="">
            </div>
            <div class="box col-md-4 col-sm-6">
                <div class="text">
                    <h3>30% Discount</h3>
                    <p>Wooden Study Table</p>
                </div>
                <img src="~/images/cms-banner-2.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<!--  end offers  -->
<div class="product pt-5 ">

    <div class="productInfo d-none ">
        <div class="moreinfo">
            <i class="fa-solid fa-xmark closeBtn"></i>
            <div class="image">
                <img src="~/images/05-378x450.jpg" alt="">
            </div>
            <div class="info">
                <h2>Heloo test</h2>
                <div class="name">Name :<span></span> </div>
                <div class="brand">Brand :<span>Apple</span></div>
                <div class="avalbility">Availability :<span>in stock</span> </div>
                <div class="price">Price :<span></span> </div>
                <p class="mt-2">Description:<span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi at enim deserunt atque repellat id</span></p>
            </div>
        </div>
    </div>
    <div class="container">
        <h3>Study Table</h3>
        <hr>
        <div class="row">
            <div class="card col-lg-3 col-md-4 col-sm-6">
                <div class="image">
                    <img src="~/images/04-378x450.jpg" alt="">
                    <div class="qick-choose d-lg-flex" id="optionClick">
                        <i class="fa-solid fa-eye"></i>
                        <i class="fa-solid fa-cart-shopping fs-2 "></i>
                        <i class="fa-regular fa-heart"></i>
                    </div>
                </div>
                <div class="card-body">
                    <div class="rate">
                        <i class="fa-solid fa-star "></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="name">Consectetur Hampden</div>
                    <div class="price">$110.00</div>
                </div>
            </div>
            <div class="card col-lg-3 col-md-4 col-sm-6">
                <div class="image">
                    <img src="~/images/05-378x450.jpg" alt="">
                    <div class="qick-choose d-lg-flex" id="optionClick">
                        <i class="fa-solid fa-eye"></i>
                        <i class="fa-solid fa-cart-shopping fs-2 "></i>
                        <i class="fa-regular fa-heart"></i>
                    </div>
                </div>
                <div class="card-body">
                    <div class="rate">
                        <i class="fa-solid fa-star "></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="name">Exercitat Virginia</div>
                    <div class="price">$109.00</div>
                </div>
            </div>
            <div class="card col-lg-3 col-md-4 col-sm-6">
                <div class="image">
                    <img src="~/images/10-378x450.jpg" alt="">
                    <div class="qick-choose d-lg-flex" id="optionClick">
                        <i class="fa-solid fa-eye"></i>
                        <i class="fa-solid fa-cart-shopping fs-2 "></i>
                        <i class="fa-regular fa-heart"></i>
                    </div>
                </div>
                <div class="card-body">
                    <div class="rate">
                        <i class="fa-solid fa-star "></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="name">Neque Porro Quisquam</div>
                    <div class="price">$130.00</div>
                </div>
            </div>
            <div class="card col-lg-3 col-md-4 col-sm-6">
                <div class="image">
                    <img src="~/images/11-378x450.jpg" alt="">
                    <div class="qick-choose d-lg-flex" id="optionClick">
                        <i class="fa-solid fa-eye"></i>
                        <i class="fa-solid fa-cart-shopping fs-2 "></i>
                        <i class="fa-regular fa-heart"></i>
                    </div>
                </div>
                <div class="card-body">
                    <div class="rate">
                        <i class="fa-solid fa-star "></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="name">Nostrud Exercitation</div>
                    <div class="price">$90.00</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Special Category -->
<div class="special-Category py-3" id="specialCategory">
    <h3>Specail Category</h3>
    <div class="arrows container d-flex  my-3">
        <i class="bi bi-arrow-left ms-0 "></i>
        <i class="bi bi-arrow-right me-0"></i>
    </div>
    <div class="container">
        <div class="row products flex-nowrap ">
            <div class="card col-lg-3 col-md-4 col-sm-6">
                <div class="image">
                    <img src="~/images/category-banner3.jpg" alt="">
                </div>
                <div class="card-body">
                    <div class="name">Nostrud Exercitation</div>
                    <div class="price">$90.00</div>
                </div>
            </div>
            <div class="card col-lg-3 col-md-4 col-sm-6">
                <div class="image">
                    <img src="~/images/category-banner3.jpg" alt="">
                </div>
                <div class="card-body">
                    <div class="name">Nostrud Exercitation</div>
                    <div class="price">$90.00</div>
                </div>
            </div>
            <div class="card col-lg-3 col-md-4 col-sm-6">
                <div class="image">
                    <img src="~/images/category-banner3.jpg" alt="">
                </div>
                <div class="card-body">
                    <div class="name">Nostrud Exercitation</div>
                    <div class="price">$90.00</div>
                </div>
            </div>
            <div class="card col-lg-3 col-md-4 col-sm-6">
                <div class="image">
                    <img src="~/images/category-banner3.jpg" alt="">
                </div>
                <div class="card-body">
                    <div class="name">Nostrud Exercitation</div>
                    <div class="price">$90.00</div>
                </div>
            </div>
            <div class="card col-lg-3 col-md-4 col-sm-6">
                <div class="image">
                    <img src="~/images/category-banner3.jpg" alt="">
                </div>
                <div class="card-body">
                    <div class="name">Nostrud Exercitation</div>
                    <div class="price">$90.00</div>
                </div>
            </div>
            <div class="card col-lg-3 col-md-4 col-sm-6">
                <div class="image">
                    <img src="~/images/category-banner3.jpg" alt="">
                </div>
                <div class="card-body">
                    <div class="name">Nostrud Exercitation</div>
                    <div class="price">$90.00</div>
                </div>
            </div>
        </div>
    </div>
    <div class="bullets d-flex ">
        <span class="b1"></span>
        <span class="b2"></span>
    </div>
</div>

<!-- New Category -->
<div class="new-category py-5">
    <div class="container">
        <div class="row ">
            <div class="card col-lg-3 col-md-4 col-sm-6">
                <div class="image">
                    <img src="~/images/04-378x450.jpg" alt="">
                </div>
                <div class="card-body">
                    <div class="rate">
                        <i class="fa-solid fa-star "></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="name">Consectetur Hampden</div>
                    <div class="price">$110.00</div>
                </div>
            </div>
            <div class="card col-lg-3 col-md-4 col-sm-6">
                <div class="image">
                    <img src="~/images/05-378x450.jpg" alt="">
                </div>
                <div class="card-body">
                    <div class="rate">
                        <i class="fa-solid fa-star "></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="name">Exercitat Virginia</div>
                    <div class="price">$109.00</div>
                </div>
            </div>
            <div class="card col-lg-3 col-md-4 col-sm-6">
                <div class="image">
                    <img src="~/images/10-378x450.jpg" alt="">
                </div>
                <div class="card-body">
                    <div class="rate">
                        <i class="fa-solid fa-star "></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="name">Neque Porro Quisquam</div>
                    <div class="price">$130.00</div>
                </div>
            </div>
            <div class="card col-lg-3 col-md-4 col-sm-6">
                <div class="image">
                    <img src="~/images/11-378x450.jpg" alt="">
                </div>
                <div class="card-body">
                    <div class="rate">
                        <i class="fa-solid fa-star "></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="name">Nostrud Exercitation</div>
                    <div class="price">$90.00</div>
                </div>
            </div>
            <div class="card col-lg-3 col-md-4 col-sm-6">
                <div class="image">
                    <img src="~/images/11-378x450.jpg" alt="">
                </div>
                <div class="card-body">
                    <div class="rate">
                        <i class="fa-solid fa-star "></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="name">Nostrud Exercitation</div>
                    <div class="price">$90.00</div>
                </div>
            </div>
            <div class="card col-lg-3 col-md-4 col-sm-6">
                <div class="image">
                    <img src="~/images/11-378x450.jpg" alt="">
                </div>
                <div class="card-body">
                    <div class="rate">
                        <i class="fa-solid fa-star "></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="name">Nostrud Exercitation</div>
                    <div class="price">$90.00</div>
                </div>
            </div>
            <div class="card col-lg-3 col-md-4 col-sm-6">
                <div class="image">
                    <img src="~/images/11-378x450.jpg" alt="">
                </div>
                <div class="card-body">
                    <div class="rate">
                        <i class="fa-solid fa-star "></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="name">Nostrud Exercitation</div>
                    <div class="price">$90.00</div>
                </div>
            </div>
        </div>
        <div class="arrows">
            <div class="arrow-left">
                <img src="~/images/left-arrow.png" alt="">
            </div>
            <div class="arrow-right">
                <img src="~/images/right-arrow.webp" alt="">
            </div>
        </div>
    </div>
</div>
<div class="brands py-2">
    <div class="container">
        <div class="row ps-2 pe-2">
            <div class="brand1 col-lg-6 col-sm-12 h-50 mb-2">
                <img src="~/images/brand-nowy-styl-arrangement-logo-01-7250.jpg" class="w-100" alt="">
            </div>
            <div class="brand2 col-lg-6 col-sm-12 h-50">
                <img src="~/images/barcalounger-at-woodstock-furniture-and-mattress-outlet.png" class="w-100" alt="">
            </div>
        </div>
    </div>
</div>
